<div class="nav nav-tabs">
    <ul class="nav navbar-nav">
        <li><a asp-area="" asp-controller="Employee" asp-action="EditEmployee" asp-route-id="@ViewBag.EmployeeID">Employee Detail</a></li>
        <li><a asp-area="" asp-controller="Employee" asp-action="EditContract" asp-route-id="@ViewBag.EmployeeID">Contract</a></li>
        <li><a asp-area="" asp-controller="Employee" asp-action="EditPersonalInfo" asp-route-id="@ViewBag.EmployeeID">PersonalInfo</a></li>
    </ul>
</div>